<h1><%= @group.name %></h1>

<h4>Group Accounts</h4>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% @group_accounts.each do |account| %>
    <tr>
      <td><%= account.username %></td>
      <td><%= account.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>